

.food-cards{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.card:hover
{
    box-shadow: 20px 50px 18px -10px rgba(62, 90, 90, 0.2); 
    transform: scale(1.05,1.05);
}

.fas:hover{
    box-shadow: 20px 50px 18px -10px rgba(62, 90, 90, 0.2); 
    transform: scale(1.05,1.05);
}

.food-recipe{
    position: relative;
    margin-top: 50px;
}

.recipe-button{
    height: 60px;
    width: 200px;
    font-size: large;
    font-weight: 700;
    background-color: rgb(255, 61, 100);
    align-items: center;
    display: flex;
    position: absolute;
    margin-top: -30px;
    justify-content: center;
    text-align: center;
    left: 43%;
}

.food-icons{
    width: 100%;
    height: 200px;
    background-color: rgb(73, 71, 71);
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.food-middle{
    padding: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.food-middle-left{
    width: 70%;
 }
 
 .food-middle-right{
    width: 30%;
 }

 .food-left-headings{
   
    margin-bottom: 30px;
    width: 750px;
    height: 30px;
    background-color: black;
    text-align: center;
    color: rgb(192, 187, 180);
}

.food-stories{
    width: 750px;
    display: flex;
    flex-direction: row;
   justify-content: space-between
}

.food-para{
    width: 250px;
}